<!DOCTYPE html>
<html>
    <head>
        <title>Audi - Interlagos</title>
        <link rel="stylesheet" href="/public/style.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>    

<body>
    <div class="content">  
        <div class="logo-menu">
            <img src="/public/logo-menu.png" alt="">
        </div> 
   

        <form id="form" action="/submit-form" method="POST">
            <input type="text" id="name" name="name" placeholder="Nome*" required ><br>
            <input type="phone" id="phone" name="phone" placeholder="Telefone*" required><br>
            <input type="email" id="email" name="email" placeholder="E-mail*" required><br>
            <select id="state" name="state" form="form">
                <option>Estado*</option>
                <option value="AC">Acre / AC</option>
                <option value="AL">Alagoas / AL</option>
                <option value="AP">Amapa / AP</option>
                <option value="AM">Amazonas / AM</option>
                <option value="BA">Bahia / BA</option>
                <option value="CE">Ceará / CE</option>
                <option value="DF">Distrito Federal / DF</option>
                <option value="ES">Espírito Santo / ES</option>
                <option value="GO">Goiás / GO</option>
                <option value="MA">Maranhão / MA</option>
                <option value="MT">Mato Grosso / MT</option>
                <option value="MS">Mato Grosso do Sul / MS</option>
                <option value="MG">Minas Gerais / MG</option>
                <option value="PA">Pará / PA</option>
                <option value="PB">Paraíba / PB</option>
                <option value="PR">Paraná / PR</option>
                <option value="PE">Pernambuco / PE</option>
                <option value="PI">Piaui / PI</option>
                <option value="RJ">Rio de Janeiro / RJ</option>
                <option value="RN">Rio Grande do Norte / RN</option>
                <option value="RS">Rio Grande do Sul / RS</option>
                <option value="RO">Rondônia / RO</option>
                <option value="RR">Roraima / RR</option>
                <option value="SC">Santa Catarina / SC</option>
                <option value="SP">São Paulo / SP</option>
                <option value="SE">Sergipe / SE</option>
                <option value="TO">Tocantins / TO</option>
            </select><br>
            <input type="text" id="city" name="city" placeholder="Cidade*" required ><br>
            <input type="text" id="document" name="document" placeholder="CPF/CNPJ" required><br>
            <select id="seller" name="seller" form="form">
                <option>Concessionária de Preferência*</option>
                <option value="AL - Audi Center Maceió">AL - Audi Center Maceió</option>
                <option value="AM - Audi Center Manaus">AM - Audi Center Manaus</option>
                <option value="BA - Audi Center Salvador">BA - Audi Center Salvador</option>
                <option value="CE - Audi Center Fortaleza">CE - Audi Center Fortaleza</option>
                <option value="DF - Audi Center Brasília">DF - Audi Center Brasília</option>
                <option value="ES - Audi Center Vitória">ES - Audi Center Vitória</option>
                <option value="GO - Audi Center Goiânia">GO - Audi Center Goiânia</option>
                <option value="MA - Audi Center São Luis">MA - Audi Center São Luis</option>
                <option value="MG - Audi Center Belo Horizonte">MG - Audi Center Belo Horizonte</option>
                <option value="MG - Audi Center Juiz de Fora">MG - Audi Center Juiz de Fora</option>
                <option value="MG - Audi Center Uberlândia">MG - Audi Center Uberlândia</option>
                <option value="MS - Audi Center Campo Grande">MS - Audi Center Campo Grande</option>
                <option value="MT - Audi Center Cuiabá">MT - Audi Center Cuiabá</option>
                <option value="PA - Audi Center Belém">PA - Audi Center Belém</option>
                <option value="PB - Audi Center João Pessoa">PB - Audi Center João Pessoa</option>
                <option value="PE - Audi Center Recife">PE - Audi Center Recife</option>
                <option value="PI - Audi Center Teresina">PI - Audi Center Teresina</option>
                <option value="PR - Audi Center Curitiba Alto da XV">PR - Audi Center Curitiba Alto da XV</option>
                <option value="PR - Audi Center Curitiba Mário Tourinho">PR - Audi Center Curitiba Mário Tourinho</option>
                <option value="PR - Audi Center Londrina">PR - Audi Center Londrina</option>
                <option value="PR - Audi Center Maringá">PR - Audi Center Maringá</option>
                <option value="RJ - Audi Center Barra">RJ - Audi Center Barra</option>
                <option value="RJ - Audi Center Botafogo">RJ - Audi Center Botafogo</option>
                <option value="RN - Audi Center Natal">RN - Audi Center Natal</option>
                <option value="RS - Audi Center Caxias do Sul">RS - Audi Center Caxias do Sul</option>
                <option value="RS - Audi Center Porto Alegre">RS - Audi Center Porto Alegre</option>
                <option value="SC - Audi Center Balneário">SC - Audi Center Balneário</option>
                <option value="SC - Audi Center Blumenau">SC - Audi Center Blumenau</option>
                <option value="SC - Audi Center Florianópolis">SC - Audi Center Florianópolis</option>
                <option value="SC - Audi Center Joinville">SC - Audi Center Joinville</option>
                <option value="SE - Audi Center Aracaju">SE - Audi Center Aracaju</option>
                <option value="SP - Audi Center ABC">SP - Audi Center ABC</option>
                <option value="SP - Audi Center Alphaville">SP - Audi Center Alphaville</option>
                <option value="SP - Audi Center Campinas">SP - Audi Center Campinas</option>
                <option value="SP - Audi Center Itaim">SP - Audi Center Itaim</option>
                <option value="SP - Audi Center Jardins">SP - Audi Center Jardins</option>
                <option value="SP - Audi Center Lapa">SP - Audi Center Lapa</option>
                <option value="SP - Audi Center Morumbi">SP - Audi Center Morumbi</option>
                <option value="SP - Audi Center Pinheiros">SP - Audi Center Pinheiros</option>
                <option value="SP - Audi Center Ribeirão Preto">SP - Audi Center Ribeirão Preto</option>
                <option value="SP - Audi Center Rio Preto">SP - Audi Center Rio Preto</option>
                <option value="SP - Audi Center S.J dos Campos">SP - Audi Center S.J dos Campos</option>
                <option value="SP - Audi Center Santos">SP - Audi Center Santos</option>
                <option value="SP - Audi Center Sorocaba">SP - Audi Center Sorocaba</option>
                <option value="SP - Audi Center Tatuapé">SP - Audi Center Tatuapé</option>
                </select><br>

                <select id="vehiclemodel" name="vehiclemodel" form="form">
                    <option>Modelo*</option>
                    <option value="A3 Sedan">A3 Sedan</option>
                    <option value="A3 Sportback">A3 Sportback</option>
                    <option value="A4 Sedan">A4 Sedan</option> 
                    <option value="A5">A5</option>
                    <option value="A6">A6</option>
                    <option value="A7">A7</option>
                    <option value="e-tron">e-tron</option>
                    <option value="e-tron sportback">e-tron sportback</option>
                    <option value="e-tron s sportback">e-tron s sportback</option>
                    <option value="e-tron GT quattro">e-tron GT quattro</option>
                    <option value="RS e-tron GT">RS e-tron GT</option>
                    <option value="Q3">Q3</option>
                    <option value="Q3SB">Q3SB</option>
                    <option value="Q5">Q5</option>
                    <option value="Q5 Sportback">Q5 Sportback</option>
                    <option value="Q5 TFSI e">Q5 TFSI e</option>
                    <option value="Q5 Sportback TFSI e">Q5 Sportback TFSI e</option>
                    <option value="Q7">Q7</option>
                    <option value="Q8">Q8</option>
                    <option value="RS 4">RS 4</option>
                    <option value="RS 5">RS 5</option>
                    <option value="RS 5 Sportback">RS 5 Sportback</option>
                    <option value="RS 6 Avant">RS 6 Avant</option>
                    <option value="RS Q8">RS Q8</option>
                </select><br>
            <input type="submit" value="Enviar"><br> 
        </form>
    </div>
</body>
</html>

